#coder, #not-a-coder {
  display: none;
}

body {
  background-color: rgb(212, 181, 79);
}

.form-group {
  background-color: lightgreen;
}

#grogu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 550px;
}

.card {
  background-color: lavender;
  color: blue;
}

#conclusion {
  color: rgb(99, 98, 98);
}